/* untuk mengatur kesuluruhan css */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Cormorant Garamond";
}
/* mengatur body css */
body {
  margin: 0px;
  padding: 0px;
}

/* ======================== CSS UNTUK HOME ==================================== */

/* ----------------------------header---------------------------------- */
/* untuk mengedit header dan pengaturan headernya berlaku untuk semuan halamn */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2; /* agar si header berada di paling atas elemen lain yang bertumpuk*/
  width: 100%;
  height: 100px;
  box-shadow: 0 0 10px #000;
  background: rgba(0, 0, 0, 0.3);
}
/* untuk mengatur label yang menampilkan icon hamburger */
#chk1 {
  display: none;
}
i {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
/* untuk mengatur scroll header */
.fixed {
  background-color: #4f4343;
}
/* mengatur header yang ada logonya */
header .logo {
  flex: 1;
  margin-left: 50px;
}
/* untuk mengatur tulisan logo di masukan ke link agar bisa di hover */
.logo a {
  text-decoration: none;
  display: flex;
}
/* untuk mengatur fotonya */
.logo img {
  width: 150px;
}
.logo h1 {
  padding: 50px 20px;
  color: #fff;
}
/* untuk mengatur tag link img dan tulisan */
header ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
  text-decoration: none;
  color: #fff;
}
/* untuk mengatur navbar*/
header ul li {
  list-style: none;
  font-size: 20px;
}
header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 10px 15px;
}
/* hover untuk link navbar jika di hover */
header ul li a:hover,
header ul li a.active {
  border-radius: 5px;
  border-bottom: 2px double black;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  transition: 0.5s;
}
/* untuk mengatur header icon hamburger agar menu bar nya bisa jadi responsive */
header .hamburger {
  display: none;
}

/* ----------------------------- finish css header------------------------------------------- */
/* mengatur header semua halaman */
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  z-index: -1;
  overflow: hidden; /* Mencegah video terlihat di luar area latar belakang */
}
#my-video {
  width: 100%; /* Agar video memenuhi lebar video-background */
  height: 100%; /* Agar video memenuhi tinggi video-background */
  object-fit: cover; /* Agar video diatur sesuai aspek rasio dan memenuhi seluruh area video-background */
}

/* untuk mengatur title navbar agar berada di tengah video */
.intro {
  color: rgb(251, 247, 247);
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 250px 400px;
  overflow: hidden;
  z-index: 1;
  color: white;
}
/* untuk header utanya di navbar */
.intro h1 {
  font-size: 90px;
}
/* untuk mengatur tag p nya */
.intro p {
  font-size: 20px;
}
/* untuk mengatur gambar di dalam article */
.img img {
  width: 29vw;
  height: 50vh;
}
/* untuk mengatur bagian article nya */
.article {
  margin: 50px 0px;
  display: flex;
  padding: 50px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
}
/* mengatur isi yang ada di section dengan kelas article content  */
.article-content {
  padding: 10px 30px 10px 70px;
  word-spacing: 10px;
  letter-spacing: 1px;
}
.article-content h2 {
  font-size: 40px;
  text-transform: capitalize;
  color: #333;
}
.article-content p {
  padding: 40px 80px 20px 35px;
  font-size: 19px;
  line-height: 30px;
  color: #464242;
}
/* untuk mengatur button read more di article home */
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4f4343;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}
.button a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}
.button:hover {
  background-color: #756767;
}
.button:active {
  background-color: #777;
  box-shadow: 0 2px #666;
  transform: translateY(5px);
}
/* untuk mengatur button scroll kembali ke atas*/
#my-btn img {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 4;
  outline: none;
  cursor: pointer;
  padding: 15px;
}

/*----------------------------------- CSS untuk styling footer ---------------------------------------*/
/* untuk mengatur footer semua halaman jadi nggak perlu di edit lagi halamn lainnya karena sama */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}
/* untuk mengatur agar si footer nya bisa menjadi 4 */
.box-footer {
  display: flex;
  box-sizing: content-box;
  text-align: center;
  justify-content: space-around;
  padding: 30px;
  margin: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;

}
/* untuk mengedit gambar yang ada di footer */
.box-footer img {
  width: 2vw;
}
/* mengedit informasinya */
.info {
  width: 30vw;
}
/* untuk mengedit judul di informasi */
.info h4 {
  font-family: sans-serif;
  padding-bottom: 10px;
}
.info a{
  text-decoration: none;
  color: hwb(220 12% 39%);
  font-style: italic;
}
.info a:hover{
  color: #bd3a3a;
  text-decoration: underline;
}
/* untuk mengatur link tautan  */
.link-tautan {
  width: 30vw;
}
/* untuk mengatur link tautan judulnya */
.link-tautan h4 {
  font-family: sans-serif;
  padding-bottom: 10px;
}
/* untuk mengatur linknya */
.link-tautan a {
  color: #fff;
  text-align: left;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
/* untuk menghovernya */
.link-tautan a:hover {
  text-decoration: underline;
  color: #bd3a3a;
}
/* untuk mengatur kontak info */
.contact-info {
  width: 20vw;
}
/* untuk mengatur judul kontak info */
.contact-info h4 {
  font-family: sans-serif;
  padding-bottom: 10px;
}
/* utuk mengatur isi kontak info */
.contact-info p {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
/* untuk menghover kontak info */
.contact-info p:hover {
  color: rgb(91, 91, 184);
}
/* untuk mengatur social media */
.social-media {
  width: 20vw;
}
.social-media h4 {
  font-family: sans-serif;
  padding-bottom: 10px;
}
.social-media a {
  color: #fff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
/* untuk menghover sicial media */
.social-media a:hover {
  color: rgb(91, 91, 184);
}
/* untuk mengatur footer paling bawah */
.disclaimer {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  background-color: #4f4343;
}
/* ---------------------------- finish css footer ---------------------------------- */

/* ================================ CSS UNTUK ABOUT ===================================== */
/* karena css navbar sama semua kecuali home jadi nanti nggak akan di atur lagi */
/* --------------------------------- untuk mengatur navbar---------------------------------*/
.nav {
  position: relative;
  height: 75vh;
  width: 100vw;
  overflow: hidden;
  z-index: -2;
}
/* untuk mengatur navbar foto */
.nav img {
  height: 75vh;
  width: 100vw;
  position: absolute;
  z-index: -2;
  background-color: #070b45;
}
/* untuk mengatur title yang ada di navbar */
.title {
  z-index: 100;
  color: rgb(255, 255, 255);
  position: relative;
  top: 50%;
  padding-left: 20px;
}
/* untuk mengatur title tulisan yang ada di navbarnya */
.title h3 {
  font-size: 100px;
  margin: 0;
  padding-left: 100px;
}
/* ------------------------------------- finish css navbar --------------------------------- */

/* untuk mengatur section about dedengan id informasi */
#informasi {
  display: flex;
}
/* untuk mengatur article about */
.article-about {
  flex: 1;
  padding: 60px;
  border: 3px solid #0b2447;
}
/* untuk mengatur title article-about */
.article-about h2{
  font-size: 40px;
}
/* mengatur article about dengan tag p */
.article-about p {
  line-height: 1.6;
  font-size: 20px;
  text-indent: 30px;
  text-align: justify;
  padding: 30px 0px 40px 40px;
}
/* untuk mengatur button article about */
.btn-article-about{
  font-size: 20px;
  padding: 10px 50px;
  background-color: #ccc;
  border-radius: 5px;
}
.btn-article-about:hover{
  border: 2px solid #333;
  border-bottom: 10px solid #333;
  transition: 0.7s;
}
/* untuk mengatur section ke dua di halaman about dengan id achieve-container */
#achieve-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 100px 0;
}
/* untuk mengatur judul yang ada di sebuah article section */
.title-article {
  text-align: center;
  font-size: 60px;
}
/* untuk mengatur isi article di dalam section dengan id achieve */
#achieve {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  flex-direction: row;
}
/* mengatur articlenya dengan class kolom */
.kolom {
  color: #fff;
  align-items: center;
  background-color: #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  width: 20vw;
}
.kolom h2 {
  padding: 20px;
}
.kolom p {
  line-height: 25px;
  font-size: 20px;
  text-align: justify;
}
/* untuk button article */
.btn-achieve{
  background-color: #333;
  color: #f0f0f0;
  padding: 8px 20px;
  font-size: 20px;
}
.btn-achieve:hover{
  background-color: #585858;
}


/*====================================== CSS UNTUK COUNTRY ================================================ */
/* latar belakang main country */
#country-container {
  background-image: url(../media/image.jpg); 
}
/* mengatur kotak kotaknya */
#countries-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
  border: 3px solid rgb(0, 0, 0);
}
.country-title {
  border-radius: 5px;
  padding: 20px 10px 0px 10px;
  margin: 10px;
  backdrop-filter: blur(10px);
}
/* mengatur bendera tang di dapat dari js */
.country-flag {
  width: 20vw;
  height: 24vh;
  transition: transform 0.3s;
}
/* menghover bendera agae ketika di arahkan ngezoom */
.country-flag:hover {
  top: 500px;
  transform: scale(1.2);
  .country-detail {
    display: block;
    position: absolute;
    left: 100px;
    top: 100px;
  }
}
/* mengatur nama negara yang di ambil dari js */
.country-name {
  font-size: 30px;
  margin: 20px 0;
  width: 50vh;
  text-align: center;
  color: #fff;
}
.country-card {
  display: inline-block;
  text-align: center;
  margin: 10px;
}
/* untuk detail dari negara tersebut */
.country-detail {
  display: none;
  line-height: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  transition: bottom 0.3s ease; 
}
.country-detail.show {
  display: block;
}

/*============================================ CSS UNTUK CONTACT US ==============================================*/
.background-contact {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Video */
#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* Isi Kontak */
.contact-content {
  justify-content: center;
  padding: 100px;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
/* Formulir Kontak */
form {
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* inputan */
input, select, textarea {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 40px;
  border-radius: 5px;
}
textarea {
  resize: vertical;
}
/* tombol button */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 30px;
}
button:hover {
  background-color: #45a049;
}

